@media (max-width: 1000px ) {
    .container {
        width: 50%
    }
    
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
}

@media (max-width: 670px) {
    .container {
        width: 100%
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
}
